<ul class="nav show-sm">
    <li class="nav-item">
        <a href="#">RATEC</a>
    </li>
    <li class="nav-item">
        <a href="#">Home</a>
    </li>
    <li class="nav-item">
        <a href="#">Categories</a>
    </li>
    <ul class="nav">
        <li class="nav-item">
            <a href="/category/Instalaciones">Instalaciones</a>
        </li>
        <li class="nav-item">
            <a href="/category/Cafeterías">Cafeterías</a>
        </li>
        <li class="nav-item">
            <a href="/category/Servicios en línea">Servicios en línea</a>
        </li>
    </ul>
    <li class="nav-item">
        <a href="#">Profile</a>
    </li>
</ul>