<header class="navbar">
    <section class="navbar-section">
        <a href="/" class="navbar-brand mr-2">RATEC</a>
    </section>
    <section class="navbar-section">
        <div class="hide-sm">
            <a href="/home" class="btn btn-link">Home</a>
            <a href="#" class="btn btn-link">Categories</a>
            <a href="/profile" class="btn btn-link">Profile</a>
        </div>
        <div class="show-sm">
            <button id="menu-btn" class="btn"><i class="icon icon-menu"></i></button>
        </div>
    </section>
</header>