<header class="navbar">
    <section class="navbar-section">
        <a href="#" class="navbar-brand mr-2">RATEC</a>
    </section>
    <section class="navbar-section">
        <a href="#" class="btn btn-link">Home</a>
        <a href="#" class="btn btn-link">Categories</a>
        <a href="#" class="btn btn-link">Profile</a>
    </section>
</header>