<header class="navbar">
    <section class="navbar-section">
        <a href="/" class="navbar-brand mr-2">RATEC</a>
    </section>
    <section class="navbar-section">
        <div class="hide-sm">
            <a href="/home" class="btn btn-link">Home</a>
            <div class="popover popover-bottom">
                <a href="/categories" class="btn btn-link">Categories</a>
                <div class="popover-container">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="/category/Cafeterías">Cafeterías</a>
                        </li>
                        <li class="nav-item">
                            <a href="/category/Instalaciones">Instalaciones</a>
                        </li>
                        <li class="nav-item">
                            <a href="/category/Movilidad">Movilidad</a>
                        </li>
                        <li class="nav-item">
                            <a href="/category/Servicios en línea">Servicios en línea</a>
                        </li>
                    </ul>
                </div>
            </div>
            <a href="/profile" class="btn btn-link">Profile</a>
            <a href="/auth/logout" class="btn btn-link">Log out</a>
        </div>
        <div class="show-sm">
            <button id="menu-btn" class="btn"><i class="icon icon-menu"></i></button>
        </div>
    </section>
</header>

<ul class="nav show-sm hidden">
    <li class="nav-item">
        <a href="/home">Home</a>
    </li>
    <li class="nav-item">
        <a href="/categories">Categories</a>
    </li>
    <ul class="nav">
        <li class="nav-item">
            <a href="/category/Instalaciones">Instalaciones</a>
        </li>
        <li class="nav-item">
            <a href="/category/Cafeterías">Cafeterías</a>
        </li>
        <li class="nav-item">
            <a href="/category/Servicios en línea">Servicios en línea</a>
        </li>
    </ul>
    <li class="nav-item">
        <a href="/profile">Profile</a>
    </li>
</ul>

<script>
    document.querySelector('#menu-btn').addEventListener('click', () => {
        document.querySelector('.nav.show-sm').classList.toggle('hidden')
    })
</script>