<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratec</title>
</head>

<body>
    <h1>Ratec</h1>
</body>

</html>