<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    <header class="navbar m-2">
        <section class="navbar-section">
            <h3>RATEC</h3>
        </section>
        <section class="navbar-section">
            <button type="button">Log in with Google</button>
        </section>
    </header>
    <div class="container grid-lg text-center">
        <h1>Welcome to Ratec</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe exercitationem commodi, facilis
            voluptatibus magni ducimus quibusdam ad dolorum harum explicabo sint soluta, quam beatae dolorem
            veritatis esse perferendis accusamus sapiente.</p>
        <h4>Login in to join</h4>
        <button type="button">Log in with Google</button>
    </div>
</body>

</html>