<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <div class="lineBar">
        <header class="navbar title-m">
            <section class="navbar-section">
                <a href="#" class="navbar-brand mr-2">RATEC</a>
            </section>
            <section class="navbar-section">
                <a href="/auth" class="btn">Log in with Google</a>
            </section>
        </header>
    </div>
    <div class="container grid-md text-center">
        <h1 class="hs">Welcome to Ratec</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe exercitationem commodi, facilis
            voluptatibus magni ducimus quibusdam ad dolorum harum explicabo sint soluta, quam beatae dolorem
            veritatis esse perferendis accusamus sapiente.</p>
        <h4 class="hs">Login in to join</h4>
        <a href="/auth" class="btn">Log in with Google</a>
    </div>
</body>

</html>