<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="lineBar">
        <header class="navbar">
            <section class="navbar-section">
                <a href="/" class="navbar-brand mr-2">RATEC</a>
            </section>
        </header>
    </div>

    <div class="container grid-md text-center ">
        <div class="hero">
            <div class="hero-body">
                <h1 class="hs">Welcome to Ratec</h1>
                <p>The right place to express your opinions about and experiences with the different services and
                    facilities that your university offers.</p>
                <p>Log in with your institutional account to begin.</p>
                <a href="/auth" class="btn btn-primary">Log in with Google</a>
            </div>
        </div>
    </div>
</body>

</html>