<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>
    {{> menu}}
    <div class="container grid-xl">
        <h1 class="hs text-left">Perfil</h1>
        <div class="columns col-xl-5">
            <div class="column col-2">
                <img src="{{category.name}}" class="img-responsive">
            </div>
            <div class="column col-5">
                <h2>FULANITO DE TAL</h2>
                <h2>{{category.name}}</h2>
            </div>
        </div>
        <div class="column col-7 col-mr-auto text-right">
            <div class="tile">
                <div class="tile-icon">
                    <div class="example-tile-icon">
                        <i class="icon icon-file centered"></i>
                    </div>
                </div>
                <div class="tile-content">
                    <h3 class="tile-title text-center">History</h3>
                    <p class="tile-subtitle">Earth's Mightiest Heroes joined forces to take on threats that were too big
                        for any one hero to tackle...</p>
                </div>

            </div>
        </div>

    </div>
</body>

</html>