<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>
    {{> menu}}
    <div class="container grid-xl text-center">
        <h1 class="hs text-left">Perfil</h1>
        <div class="col"></div>

        </div>
        {{!-- <h1 class="hs text-left">Perfil</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe exercitationem commodi, facilis
            voluptatibus magni ducimus quibusdam ad dolorum harum explicabo sint soluta, quam beatae dolorem
            veritatis esse perferendis accusamus sapiente.</p>
        <h4 class="hs">Login in to join</h4>
        <button class="hs" type="button">Log in with Google</button> --}}
    </div>
</body>

</html>