header {
  padding: 0.5rem;
}

.hero {
  margin-top: 1.5rem;
  padding-left: 3.5em;
  padding-right: 3.5em;
  background-color: var(--jet);
  color: var(--white);
  text-align: justify;
  text-align-last: center;
}

h1 {
  font-weight: 600;
}

.psize {
  margin-top: 0.2rem;
  font-size: 0.6rem;
}

p {
  font-size: larger;
}
