:root {
  --jet: #353535;
  --ming: #3c6e71;
  --white: #ffffff;
  --grainsboro: #ededed;
  --indigo: #284b63;
}

body {
  background-color: var(--grainsboro);
  color: var(--jet) !important;
}

header {
  position: sticky;
  top: 0;
  background-color: var(--indigo);
  z-index: 99;
  font-size: 2em;
  padding: 0 0.5rem;
}

a.btn.btn-link,
a.navbar-brand.mr-2 {
  color: var(--white) !important;
}

.popover-container {
  background-color: var(--indigo);
}

li.nav-item > a {
  color: var(--white) !important;
  font-size: 0.85rem;
  padding-top: 0;
}

li.nav-item {
  margin-top: 0;
}

.card {
  background-color: var(--white);
  border: solid #b8b8b8 1px;
}

.card-title-h5 > a,
.card-title-h5 > div > a {
  color: var(--jet) !important;
}

.hidden {
  display: none !important;
}

.nav.show-sm {
  position: sticky;
  top: 1.8rem;
  background-color: white;
  z-index: 99;
}

.btn.btn-primary {
  background-color: var(--ming);
  border-color: #2b5052;
}
.btn.btn-primary:hover {
  background-color: #325c5e;
  border-color: #2b5052;
}

.review-rating {
  color: var(--ming);
}

.title {
  font-size: large;
}

.card-image {
  border-bottom: solid #b8b8b8 1px;
}

.hero {
  background-color: var(--jet);
  color: var(--white);
}
